{% extends 'base.html' %}
{% block title %} about page {% endblock %}
{%block content%}
    <section id="page-header" class="about-page">
        <h2>#Know us</h2>

        <p>Discover more about the creators of this website</p>
    </section>

    <section id="about-head" class="section-p1">
        <img src="static/images/about/guys.png" alt="">
        <div>
            <h2>Who are we?</h2>
            <p>
                We’re four college friends brought together by our shared passion for tech and creativity. Inspired by a
                late-night brainstorming session over coffee, we decided to build our own online store as a team
                project. Each of us brings something unique to the table—design, development, marketing, and
                logistics—and we’re determined to create something real, functional, and maybe even launch it beyond the
                classroom. It’s more than just a project; it’s our first step into the world we want to build together.
            </p>
            <br>
            <br>
            <marquee bgcolor="#0000" loop="-1" scrollamount="5" width="100%">An AD should go here if interseted</marquee>
        </div>
    </section>

    <section id="about-app" class="section-p1">
        <h1>Download our <a href="#">App</a></h1>
        <div class="video">
            <img src="static/images/about/marketing.gif" alt="">
        </div>
    </section>

    <section id="feature" class="section-p1">
    <div class="fe-box">
      <img src="static/images/banners/free_shipping.avif" alt="free shipping" />
      <h6>free shipping</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/e_shopping.jpg" alt="online orders" />
      <h6>online orders</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/save_money.avif" alt="save money" />
      <h6>save money</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/promotion2.avif" alt="promotions" />
      <h6>promotions</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/happy_sell2.avif" alt="happy sell" />
      <h6>happy sell</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/s3.jpg" alt="support 24/7" />
      <h6>24/7 support</h6>
    </div>
    </section>

{% endblock %}