{% extends 'base.html' %}

{% block title %}Home page{% endblock %}
{% block content %}
  <section id="hero">
    <h4>trade-in-offer</h4>
    <h2>super value deals</h2>
    <h1>on all products</h1>
    <p>offers up to <strong style="color:cadetblue;">70% off!!</strong></p>
    <button>shopping now!</button>
  </section>

  <section id="feature" class="section-p1">
    <div class="fe-box">
      <img src="static/images/banners/free_shipping.avif" alt="free shipping" />
      <h6>free shipping</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/e_shopping.jpg" alt="online orders" />
      <h6>online orders</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/save_money.avif" alt="save money" />
      <h6>save money</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/promotion2.avif" alt="promotions" />
      <h6>promotions</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/happy_sell2.avif" alt="happy sell" />
      <h6>happy sell</h6>
    </div>
    <div class="fe-box">
      <img src="static/images/banners/s3.jpg" alt="support 24/7" />
      <h6>24/7 support</h6>
    </div>
  </section>

  <section id="product1" class="section-p1">
    <h2 style="margin-bottom: 10px;">products</h2>
    <p style="margin-bottom: 50px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, suscipit!</p>
    <div class="pro-container">
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
            <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
            <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
            <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
            <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
            <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
            <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
            <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      
    </div>
  </section>

  <section id="banner" class="section-m1">
    <h4>repair services</h4>
    <h2>up to <span>70% off</span>- all products </h2>
    <button class="normal">explore more</button>
  </section>

  <section id="product2" class="section-p1">
    <h2>new products</h2>
    <p style="margin-bottom: 50px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Libero, suscipit!</p>
    <div class="pro-container">
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      <div class="pro">
        <img src="static/images/main1.avif" alt="product image" class="pro-image" />
        <div class="des">
          <span>type</span>
          <h5>name</h5>
          <h4>1000$</h4>
        </div>
        <a href="#"><img src="static/images/cart.png" class="cart1" alt="add to cart" /></a>
      </div>
      
    </div>
  </section>

  <section id="sm-banner" class="section-p1">
    <div class="banner-box">
      <h4>crazy deals</h4>
      <h2>buy 1 get 1 free</h2>
      <span>Lorem ipsum dolor sit amet.</span>
      <button class="white">learn more</button>
    </div>
    <div class="banner-box banner-box2">
      <h4>crazy deals</h4>
      <h2>buy 1 get 1 free</h2>
      <span>Lorem ipsum dolor sit amet.</span>
      <button class="white">learn more</button>
    </div>
  </section>

  <section id="banner3">
    <div class="banner-box">
      <h2>sales</h2>
      <h3>summer & winter</h3>
    </div>
    <div class="banner-box banner-box2">
      <h2>seasonal sales</h2>
      <h3>winter collections -50% off!!</h3>
    </div>
    <div class="banner-box banner-box3">
      <h2>discounts</h2>
      <h3>up to 70% off!</h3>
    </div>
  </section>

{%endblock%}